@font-face {
  font-family: my_font;
  src: url("fonts/jp_font.otf"); }
html,
body {
  font-size: 16px;
  font-family: my_font; }

img {
  max-width: 100%;
  height: auto; }

ul,
ol,
figure,
figcaption {
  margin: 0; }

button {
  outline: 0; }

a {
  text-decoration: none; }

#main {
  max-width: 500px;
  margin: auto;
  position: relative; }

.border-5 {
  border: 5px solid #000; }

#header {
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  #header .header-nav {
    display: flex;
    align-items: center; }
  #header #nav_trigger {
    width: 35px;
    height: 30px;
    background: transparent url("../images/icon_nav.png") no-repeat center;
    background-size: cover;
    border: 0;
    margin-left: auto; }
  #header #nav_close {
    width: 30px;
    height: 30px;
    background: transparent url("../images/icon_close.png") no-repeat center;
    background-size: cover;
    border: 0;
    margin-left: auto; }
  #header .main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 95%;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    padding: 0 20px;
    z-index: 1;
    background: #ffff;
    transition: .5s; }
    #header .main-nav.show {
      right: 0; }
    #header .main-nav .main-nav__header {
      display: flex;
      align-items: center;
      font-size: 35px;
      margin-bottom: 20px; }
      #header .main-nav .main-nav__header span {
        margin-right: auto; }
    #header .main-nav .main-nav__body {
      margin-bottom: 30px; }
      #header .main-nav .main-nav__body .btn-text {
        font-size: 20px;
        margin-left: 15px; }
      #header .main-nav .main-nav__body .btn-content {
        padding: 10px 15px; }
    #header .main-nav .main-nav__footer {
      font-size: 16px;
      padding-bottom: 20px; }
      #header .main-nav .main-nav__footer a {
        display: block;
        text-decoration: underline;
        margin-bottom: 10px; }
  #header .main-nav__overlay {
    background: #898989;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; }

.shipping-section {
  overflow: hidden;
  position: relative; }
  .shipping-section .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1; }
    @media (min-width: 750px) {
      .shipping-section .bg-img {
        height: calc(100% - 50px); } }
    .shipping-section .bg-img img {
      width: 100%;
      height: 100%; }
  .shipping-section.shipping-1 .bg-img {
    top: 0; }
  .shipping-section.shipping-1 .img-left {
    transform: translate(-40px, -50px);
    position: relative; }
    .shipping-section.shipping-1 .img-left span {
      position: absolute;
      top: 50%;
      left: 55px;
      transform: translate(0, -50%);
      font-weight: 600;
      font-size: 17px; }
  .shipping-section.shipping-1 .img-right {
    position: relative;
    margin-top: -50px;
    margin-bottom: 25px; }
    .shipping-section.shipping-1 .img-right .img-2 {
      position: absolute;
      right: -50px;
      bottom: 0; }
    .shipping-section.shipping-1 .img-right span {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      font-weight: 600;
      font-size: 17px; }
  .shipping-section.shipping-2 {
    margin-bottom: 25px; }
    .shipping-section.shipping-2 .bg-img {
      bottom: 40px; }
    .shipping-section.shipping-2 .manual-list {
      padding: 120px 15px 0;
      text-align: center;
      background: #FFCF4B; }
      .shipping-section.shipping-2 .manual-list .manual-list__item {
        font-size: 24px; }
        .shipping-section.shipping-2 .manual-list .manual-list__item .manual-list__item-header {
          display: flex;
          align-items: center; }
          .shipping-section.shipping-2 .manual-list .manual-list__item .manual-list__item-header .image {
            width: 68px;
            position: relative; }
            .shipping-section.shipping-2 .manual-list .manual-list__item .manual-list__item-header .image::after {
              content: attr(data-number);
              font-size: 30px;
              position: absolute;
              top: 45%;
              left: 48%;
              transform: translate(-50%, -50%); }

.home-intro {
  margin-bottom: 25px; }
  .home-intro h1 {
    margin-bottom: 35px; }

.btn-1 {
  max-width: 315px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  background: #FF8914;
  position: relative;
  text-decoration: none; }
  .btn-1 .btn-overlay {
    position: absolute;
    background: #FFCF4B;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 20px; }
    .btn-1 .btn-overlay::before, .btn-1 .btn-overlay::after {
      content: '';
      position: absolute;
      top: 5px;
      border-top: 5px solid #fff;
      border-radius: 20px; }
    .btn-1 .btn-overlay::before {
      left: 15px;
      width: 15px; }
    .btn-1 .btn-overlay::after {
      left: 40px;
      width: 100px; }

.btn-content {
  position: relative;
  padding: 0 6px;
  display: flex;
  align-items: center; }
  .btn-content .btn-text {
    margin-left: auto;
    font-weight: 600;
    color: #000;
    font-size: 24px; }

.header-nav__heading {
  font-size: 35px; }

/*# sourceMappingURL=thanh.css.map */
