@font-face {
  font-family: kirin_font;
  src: url('fonts/kirin-Regular.ttf');
}
html,
body {
  font-size: 16px;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "YuGothic", "游ゴシック体", "メイリオ", Meiryo, sans-serif;
}
.kirin-font {
  font-family: kirin_font;
}
img {
  max-width: 100%;
  height: auto;
}

ul,
ol,
figure,
figcaption {
  margin: 0;
}

button {
  outline: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
#main {
  max-width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  @media(min-width: 750px) {
    max-width: 375px;
  }
}
.border-5 {
  border: 5px solid #000;
}
#header {
  .header-nav {
    display: flex;
    align-items: center;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  #nav_trigger {
    width: 35px;
    height: 30px;
    background: transparent url('../images/icon_nav.png') no-repeat center;
    background-size: cover;
    border: 0;
    margin-left: auto;
  }
  #nav_close {
    width: 30px;
    height: 30px;
    background: transparent url('../images/icon_close.png') no-repeat center;
    background-size: cover;
    border: 0;
    margin-left: auto;
  }
}
.main-nav {
  position: absolute;
  top: 0;
  right: -100%;
  width: 95%;
  border-right: 0;
  border-radius: 20px 0 0 20px;
  padding: 0 20px;
  z-index: 1;
  background: #ffff;
  transition: .5s;
  &.show {
    right: 0;
  }
  .main-nav__header {
    display: flex;
    align-items: center;
    font-size: 35px;
    margin-bottom: 20px;
    span {
      margin-right: auto;
    }
  }
  .main-nav__body {
    margin-bottom: 30px;
    .btn-text {
      font-size: 20px;
      margin-left: 15px;
    }
    .btn-content {
      padding: 10px 15px;
    }
  }
  .main-nav__footer {
    font-size: 16px;
    padding-bottom: 20px;
    a {
      display: block;
      text-decoration: underline;
      margin-bottom: 10px;
    }
  }
}
.main-nav__overlay {
  background: #898989;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.shipping-section {;
  overflow: hidden;
  position: relative;
  .bg-img {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    @media(min-width: 750px) {
      height: calc(100% - 50px);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &.shipping-1 {
    .bg-img {
      top: 0;
      @media(min-width: 430px) {
        top: -20px;
      }
      @media(min-width: 460px) {
        top: -40px;
      }
      @media(min-width: 500px) {
        top: -60px;
      }
      @media(min-width: 550px) {
        top: -80px;
      }
      @media(min-width: 600px) {
        top: -100px;
      }
      @media(min-width: 650px) {
        top: -140px;
      }
      @media(min-width: 700px) {
        top: -160px;
      }
      @media(min-width: 750px) {
        top: 0;
      }
    }
    .img-left {
      transform: translate(-40px, -50px);
      position: relative;
      span {
        position: absolute;
        top: 50%;
        left: 55px;
        transform: translate(0, -50%);
        font-weight: 600;
        font-size: 30px;
      }
    }
    .img-right {
      position: relative;
      margin-top: -50px;
      margin-bottom: 25px;
      .img-2 {
        position: absolute;
        right: -50px;
        bottom: 0;
      }
      span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        font-weight: 600;
        font-size: 30px;
      }
    }
  }
  &.shipping-2 {
    margin-bottom: 30px;
    .bg-img {
      bottom: 40px;
      @media(min-width: 750px) {
        height: auto;
      }
    }
    .manual-list {
      padding: 120px 15px 0;
      text-align: center;
      background: #FFCF4B;
      .manual-list__item {
        font-size: 24px;
        .manual-list__item-header {
          display: flex;
          align-items: center;
          .image {
            width: 68px;
            position: relative;
            &::after {
              content: attr(data-number);
              font-size: 30px;
              position: absolute;
              top: 45%;
              left: 48%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
.home-intro {
  margin-bottom: 25px;
  h1 {
    margin-bottom: 35px;
    font-size: 63px;
  }
  
}
.btn-1 {
  max-width: 315px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  background: #FF8914;
  position: relative;
  text-decoration: none;
  .btn-overlay {
    position: absolute;
    background: #FFCF4B;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    border-radius: 20px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 5px;
      border-top: 5px solid #fff;
      border-radius: 20px;
    }
    &::before {
      left: 15px;
      width: 15px;
    }
    &::after {
      left: 40px;
      width: 100px;
    }
  }
}
.btn-content {
  position: relative;
  padding: 0 6px;
  display: flex;
  align-items: center;
  .btn-text {
    margin-left: auto;
    font-weight: 600;
    color: #000;
    font-size: 24px;
  }
}
.header-nav__heading {
  font-size: 35px;
}
.pt-90 {
  padding-top: 90px;
}
.bscustom-tabs {
  .nav {
    position: relative;
    &::after {
      content: '';
      border-top: 5px solid #000;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }
  .nav-item {
    border: 5px solid #000;
    border-radius: 20px 20px 0 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    flex-grow: 1;
    background: #FF8914;
    margin: 0 2px;
    .nav-link {
      padding: 12px 0 10px;
      position: relative;
    }
    &.active {
      border-color: #000;
      background: #FFCF4B;
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 4px;
        border-top: 5px solid #fff;
        border-radius: 20px;
      }
      &::before {
        left: 15px;
        width: 15px;
      }
      &::after {
        left: 40px;
        width: 45px;
      }
      .nav-link {
        &::after {
          content: '';
          border-top: 6px solid #FFCF4B;
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
        }
      }
    }
  }
  .tab-content {
    .tab-content__header {
      font-size: 20px;
      position: relative;
      &.header-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 15px 40px;
        background: url(../images/bg-1.png) no-repeat;
        background-size: cover;
        background-position: top center;
        @media(min-width: 510px) {
          background-position: 0 -10px;
        }
        @media(min-width: 600px) {
          background-position: 0 -20px;
        }
        @media(min-width: 650px) {
          background-position: 0 -30px;
        }
        @media(min-width: 700px) {
          background-position: 0 -40px;
        }
        @media(min-width: 750px) {
          background-position: top center;
        }
      }
    }
    .tab-content__body {
      padding: 15px;
    }
  }
}
.location-list {
  .location-list__item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    span {
      margin-right: auto;
    }
    button {
      width: 20px;
      height: 20px;
      border: 0;
      &.show-location {
        background: url(../images/icon_plus.png) no-repeat center;
      }
      &.hide-location {
        background: url(../images/icon_minus.png) no-repeat center;
      }
    }
  }
  .location-expand {
    border: 3px solid #000;
  }
  .location-detail {
    background: #FFCF4B;
    border: 3px solid #000;
    margin-bottom: 20px;
    display: none;
    .location-detail__list {
      padding: 0 15px;
      list-style: none;
      li {
        margin-bottom: 20px;
        background: #fff;
        border: 3px solid #000;
        border-radius: 8px;
        a {
          color: #000;
          text-decoration: none;
          padding: 10px 20px;
          display: flex;
          align-items: center;
          span {
            margin-right: auto;
          }
          button {
            width: 15px;
            height: 15px;
            border: 0;
            background: url(../images/icon_right.png) no-repeat center;
          }
        }
      }
    }
  }
}
.text-decoration-underline {
  text-decoration: underline
}




